@using Makale_entities.ViewModel
@model LoginModel
@{
    ViewBag.Title = "Giris";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/Content/login.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

@using (Html.BeginForm()) // post edebilmek için girilen bilgileri alıp db de kontrol edip geçerli ise index e gönderecek bu yüzden beginform ekledik içine attık
{
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">Giriş Ekranı </h1>
                </div>
                <div class="main-content">

                    @Html.ValidationSummary(false) @*bunu eklediğimiz için hata mesajlarını görebiliyoruz onları da login modelden alıyor*@
                    <div class="input-group ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>

                        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>

                        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control", placeholder = "Şifre", type = "password", id = "sifregiris" })
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" id="sifre_goster"/> şifre göster 
                        </label>

                    </div>



                    <div class="form-group ">
                        <button type="submit"class="btn btn-danger btn-lg btn-block login-button" >Giriş yap</button>
                    </div>



                </div>
            </div>
        </div>
    </section>
}



<script>
    $(function () {

        $("footer").parent().hide();// footerı sakladık ilk ama çizgi kaldı meğer bu footer da bir div içerisinde oludğu için komple div saklmak için parent sakla yaptık aynı zamanda

    });
    const sifregoster = document.getElementById("sifre_goster");
    const sifregirisi = document.getElementById("sifregiris");

    sifregoster.addEventListener("change", function () {
        if (this.checked)
        {
            sifregirisi.type = "text";
        }
        else
        {
            sifregirisi.type = "password";
        }
    });


</script>