
@{
    ViewBag.Title = "Hakkimizda";
}
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-3">@Html.Partial("PartialPageKategori")</div>


        <div class="col-md-9">       

            <div class="row">
                <h2 class="text-center">Hakkımızda</h2>
                <hr />
                <img src="~/resim/Lake-Granbury-View-800x300.jpg" />
                <hr />
                <p>
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    Ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                    Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                    Laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.
                    Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
                    Cras ut metus a risus iaculis scelerisque eu ac ante.
                    Fusce non varius purus aenean nec magna felis fusce vestibulum.
                    Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis.
                </p>



            </div>

        </div>

    </div>

</div>
<!-- /.container -->
