<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Makale</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- /.container -->



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-briefcase"></span> Yönetim</a>
                    </li>
                    <li>
                        <a href="/Home/EnBegenilenler"><span class="glyphicon glyphicon-heart"></span> En Beğenilenler</a>
                    </li>
                    <li>
                        <a href="/Home/SonYazilanlar">Son Yazılanlar</a>
                    </li>
                    <li>
                        <a href="/Home/Hakkimizda">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="/Home/Servisler">Servisler</a>
                    </li>
                   
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>  <a href="/Home/Giris"><span class="glyphicon glyphicon-log-in"></span>  Giriş</a></li>
                    <li>  <a href="#"><span class="	glyphicon glyphicon-user"></span>  Atakan</a></li> @*span olarak ekleyince yazı a bozulmuş olmuyor*@
                    <li>  <a href="#">Çıkış</a></li>
                    <li>  <a href="/Home/KayitOl">Kayıt Ol</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody() @*Asp.net MVC layout sayfamızda değişken olacak, yani diğer sayfalardan gelecek olan içeriği sayfaya yerleştirmek için @RenderBody() kullanılır. diğer indexlerin de bu layout u kullanabilmesi için önemli*@
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h5><b>Site Haritası</b></h5>
                    <hr />
                    <a href="#" class="glyphicon glyphicon-heart"> En Beğenilenler</a>
                    <br />
                    <a href="#"class="glyphicon glyphicon-list"> Son Yazılanlar</a>
                </div>
                
                    <div class="col-lg-4 text-center">
                        <h5><b>Makale Web</b></h5>
                        <hr />
                        <p>Copyright &copy; Makale Web @DateTime.Now.Year</p>
                    </div>

                
                <div class="col-md-4 text-center">
                   <h5><b> E-bülten üyeliği</b></h5>
                        <hr />
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="E-posta adresiniz" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Gönder</button>
                                </span>
                            </div>
                     
                        </div>
                    
                </div>
            </div>
            
        </footer>

    </div>

</body>

</html>
